.details {
  width: 100%;
}

.leftDetails {
  width: 20%;
  display: flex;
}

.rightDetails {
  width: 80%;
  padding: 3%;
  display: flex;
  flex-direction: column;
}
.body2{
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
}
.bold {
  font-weight: bold;
}

.flex-containerDetails {
  display: flex;
  background-color: lightgrey;
}
img{
  width: 80%;
  padding: 10%;
}
.locality{
  text-transform: uppercase;
}
.avg-customer-rating{
  width: 50%;
}
.avg-cost{
  width: 50%;
}

.rating-cost{
  display: flex;
  flex-direction: row;
  height: max-content;
}

.avg-customer-rating-text{
  text-transform: uppercase;
  color: gray;
}
.avg-cost-text{
  text-transform: uppercase;
  color: gray;
}

.leftMenu{
  width: 50%;
  padding-right:5%;
  padding-left: 5%;
}
.rightCheckout {
  width: 50%;
  padding-right:5%;
  padding-left: 5%;
}

.flex-container-menu {
  display: flex;
  padding-top: 2%;
}

.chekoutHeader{
  display: flex;
  flex-direction: row;
}
.chekoutTotal{
  text-transform: uppercase;
  display: flex;
  padding: 2%;
}
.amountText{
  width: 50%;
  font-weight: bold;
}
.amountInr{
  width: 50%;
  font-weight: bold;
  text-align: right;
}
.chekoutButton{
  padding: 2%;
}
.listItemHead{
  text-transform: uppercase;
  color: gray;
  font-weight: bolder;
}
.fa-circle-g {
  color: green;
}
.fa-circle-r{
  color: red;
}
.fa-plus{
  color: gray;
  padding-left: 2%;
}
.fa-inr{
  padding-right: 2%;
}
.itemPrice{
  padding-right: 3%;
}
.menu-item-name{
  padding-left: 2%;
}
.menu-item-name::first-letter{
  text-transform: uppercase
}
@media (max-width: 992px) {
  .leftDetails {
    width: inherit;
    justify-content: center;
  }
  .rightDetails {
    width: inherit;
    text-align: center;
    padding:2%;
  }
  .flex-containerDetails {
    flex-direction: column;
  }
  .paddingRight {
    margin-right: 32px;
  }
  img{
    width: 50%;
    padding: 2%;
  }
  .avg-customer-rating{
    widows: 50%;
  }
  .avg-cost{
    width: 50%;
  }
  .rating-cost{
    justify-content: center;
  }
  .flex-container-menu {
    flex-direction: column;
  }
  .leftMenu{
    width: inherit;
  }
  .rightCheckout {
    width: inherit;
    padding-right:5%;
    padding-left: 5%;
  }
}